{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Obnovení hesla: nové heslo</h2>
    </div>
</div>
<div class="row mb-3">
    <div class="container">
    {% if validlink %}
        <p class="alert alert-info">Zadejte a potvrďte, prosím, své nové heslo.</p>

        <form method="post">
            {% csrf_token %}
            <div class="row form-group">
                {% if form.new_password1.errors %}
                <div class="invalid-feedback">{{ form.new_password1.errors }}</div>
                {% endif %}
                <label for="id_new_password1" class="offset-md-3 col-md-2">Nové heslo</label>
                <div class="col-md-4">
                    {% render_field form.new_password1 class="form-control" %}
                </div>
            </div>
            <div class="row form-group">
                {% if form.new_password2.errors %}
                <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
                {% endif %}
                <label for="id_new_password2" class="offset-md-3 col-md-2">Potvrzení hesla</label>
                <div class="col-md-4">
                    {% render_field form.new_password2 class="form-control" %}
                </div>
            </div>
            <div class="row form-group">
                <div class="offset-md-5 col-md-4">
                    <button class="btn btn-primary">Změnit heslo</button>
                </div>
            </div>
        </form>
    {% else %}
        <div class="alert alert-danger">
            <h3>Nastala chyba při obnovení hesla</h3>
            <p>Odkaz pro obnovení hesla byl neplatný, možná už byl použit. Požádejte, prosím, ještě jednou o obnovení hesla.</p>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}