{% extends "base.html" %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Obnovení hesla: odkaz</h2>
    </div>
</div>
<div class="row mb-3">
    <div class="container">
        <h3>Zpráva s obnovením hesla byla odeslána</h3>
        <p>Někdo požádal o obnovení hesla prostřednictvím emailu {{ email }}.<br>
        Klikněte na odkaz: {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
    </div>
</div>
{% endblock %}