<main>
    <div id="content_cenik">
    <div id="model_foto">
        <img  id="img"src="img/iphoneX.jpg" alt="">
    </div>
    <div id="text_cenik">
        <h2 style="text-decoration: none;">iPhone X</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas totam est itaque exercitationem ad repudiandae nostrum odit cum ducimus tenetur velit magnam provident quas iure porro temporibus, vero a quidem.
            Odio, iste earum id sunt aperiam tempore quae accusamus reiciendis ratione atque in magni quidem repellendus similique cupiditate. Fuga sed delectus eos beatae quas soluta itaque ex velit saepe nulla?</p>

        <table>
            
            <tr>
              <th>Oprava</th>
              <th>Cena</th>
            </tr>
            <tr>
              <td>Výměna baterie</td>
              <td>1990kč</td>
            </tr>
            <tr>
                <td>Výměna displeje</td>
                <td>1990kč</td>
              </tr>
              <tr>
                <td>Výměna baterie sliuchatka a asdas</td>
                <td>1990kč</td>
              </tr>
              <tr>
                <td>Výměna baterie</td>
                <td>1990kč</td>
              </tr>
              <tr>
                <td>Výměna baterie</td>
                <td>1990kč</td>
              </tr>
              <tr>
                <td>Výměna baterie</td>
                <td>1990kč</td>
              </tr>
          </table>

          <table>
            <tr>
              <th>Stav</th>
              <th>Výkupní cena</th>
            </tr>
            <tr>
              <td>Orginal</td>
              <td>1990kč</td>
            </tr>
            <tr>
                <td>Stav A</td>
                <td>1990kč</td>
              </tr>
              <tr>
                <td>Stav B </td>
                <td>1990kč</td>
              </tr>
            
          </table>
    </div>
      
    </div>
  </main>