{% extends "base.html" %}

{% block content %}
<main>
 <div id="content">
      <div id="text">
        <div style="font-size: 1.25em;"> Opravíme tvůj </div>poškozený iPhone!
        <div id="button"><a href="https://forms.gle/Qisz9UwgdCxboynH7"><button class="button" >Formulář</button></a></div>
      </div>
      <div >
    {% load static %}
    <img  id="img"src="{% static 'img/MobileBackground.png' %}" alt="">
      </div>
    </div>
  </main>

<div>
{% include "page/text_box.html" %}
</div>

<div>

<div id="modely_title">
<h1 style = "margin-top:5%" id="opravari_title"><b>Ceník oprav</b></h1>
<ul>
        <li>
          <a href=""><b>Apple</b></a>
        </li>
         <li>
          <a href=""><b>Samsung</b></a>
        </li>
         <li>
          <a href=""><b>Huawei</b></a>
        </li>
         <li>
          <a href=""><b>Xiaomi</b></a>
        </li>

      </ul>
</div>

 {% include "blocks/modely_vyber.html" %}
</div>
    
{% endblock %}