{% extends "base.html" %}

{% block content %}
<main>
 <div id="content">
      <div id="text">
        <div style="font-size: 1.25em;"> Opravíme tvůj </div>poškozený telefon!
        <div id="button"><a href="{%url "model_vyber" "apple" %}"><button class="button" >Ceník oprav</button></a></div>
      </div>
      <div >
    {% load static %}
    <img  id="img"src="{% static 'img/MobileBackground.png' %}" alt="">
      </div>
    </div>
  </main>

<div>
{% include "page/text_box.html" %}
</div>

<div>
 
</div>
    
{% endblock %}