{% extends "base.html" %}

{% block content %}
<main>
 <div id="content">
      <div id="text">
        <div style="font-size: 1.25em;"> Opravíme tvůj </div>poškozený iPhone!
        <div id="button"><a href="https://forms.gle/Qisz9UwgdCxboynH7"><button class="button" >Formulář</button></a></div>
      </div>
      <div >
    {% load static %}
    <img  id="img"src="{% static 'img/MobileBackground.png' %}" alt="">
      </div>
    </div>
  </main>

<div>
{% include "page/text_box.html" %}
</div>

<div>
 {% include "brand/brand_list.html" %}
 {% include "model/list.html" %}
</div>
    
{% endblock %}