 <!--
 <header style = "background-color: black;">
    <div id="logoText">
      <a href="index.html">
      <b>ReFAB</b>
    </a>
      <div id="line"></div>
    </div>
  </header>
  -->

    <nav>
      <div class="logo"> 
      {% load static %}
        <img src="{% static 'img/logoPalus.png' %}" alt="" width="" height=""  > 
      </div>
      <ul class="nav-links">
        <li>
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'opravar_about' %}">About</a>
        </li>
        <li>
          <a href="{% url 'model_vyber' "apple" %}">Models</a>
        </li>
        <li>
          <a href="{% url 'index' %}">Repair</a>
        </li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

     