 <!--
 <header style = "background-color: black;">
    <div id="logoText">
      <a href="index.html">
      <b>ReFAB</b>
    </a>
      <div id="line"></div>
    </div>
  </header>
  -->

    <nav>
      <div class="logo"> 
      <a href = "{% url 'index' %}">
      {% load static %}
        <img src="{% static 'img/logoPalus.png' %}" alt="" width="110%" height="110%"> 
        </a>
      </div>
      <ul class="nav-links">
        <li>
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'opravar_about' %}">About</a>
        </li>
        <li>
          <a href="{% url 'model_vyber' "apple" %}">Models</a>
        </li>
        <div style="margin-left:10%;">
          {% if user.is_authenticated %}
          <li><a href="{% url 'index' %}">User: {{ user.get_username }}</a></li>
          <li><a href="{% url 'logout'%}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
          {% endif %}
        </div>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

     